<%= form_with model: task do |form| %>
    <div>
        <%= form.label :title %> <br>
        <%= form.text_field :title %>
        <% @task.errors.full_messages_for(:title).each do |message| %>
            <div> <%= message %> </div>
        <% end %>
    </div>
    
    <div>
        <%= form.label :body %> <br>
        <%= form.text_area :body %>
        <% @task.errors.full_messages_for(:body).each do |message| %>
            <div> <%= message %> </div>
        <% end %>
    </div>

    <div>
        <%= form.label :status %> <br>
        <%= form.check_box :status %>
    </div>

    <div>
        <%= form.submit %>
    </div>

<% end %>